@import './todosLists';
@import './singleTodosList';

main {
  flex-grow: 1;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

#app {
  min-height: 100vh;
}
