.todos-lists {
  $border: 1px solid #dee2e6;
  border-bottom: $border;

  &__icon {
    cursor: pointer;
    padding: 5px;
  }

  &__item {
    border-left: 10px solid transparent;
    cursor: pointer;

    &:hover {
      border-left: 10px solid green;
    }

    &--selected {
      border-left: 10px solid green;
      font-weight: 500;
    }
  }

  @media screen and (min-width: 768px) {
    width: 300px;
    border-right: $border;
  }
}
